<%= @suda_user.username %>(<%= @suda_user.nickname %>) said,
<p></p><br/>
<strong><%=@suda_message%></strong>
<p></p><p></p><br/><br/>
<a href="http://<%=APP_CONFIG['http_host']%>" target="_blank">Visit <%=APP_CONFIG['site_title']%> Suda-in</a>
